<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
  <!-- <link rel="stylesheet" media="all" href="static/css/ress.min.css" />
  <link rel="stylesheet" media="all" href="static/css/style.css" /> -->
</head>

<body>
  <div style="text-align: center;">
    <h1>ログイン</h1>
    <div style="text-align: left;display: inline-block;">
      <form method="post" action="/login">
        <p>ユーザ名とパスワードを入力してください。</p>
        <div style="text-align: center;">
          <p>ユーザ名</p>
          <input type="text" name="username" value="{{ username }}" placeholder="username" />
          </p>
          <p>パスワード</p>
          <input type="password" name="password" value="{{ password }}" placeholder="password" />
          </p>
          <input type="submit" value="実行" />
        </div>
      </form>
      {% if result is not none %}
      <h2 style="text-align: center;">エラー: {{ result }}</h2>
      {% endif %}
    </div>
  </div>
</body>

</html>
